
/* ui-head */

.head-item {
    height:48px;
	background: #313131; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMxMzEzMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZTFkMWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #313131 0%, #1e1d1d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#313131), color-stop(100%,#1e1d1d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #313131 0%,#1e1d1d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #313131 0%,#1e1d1d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #313131 0%,#1e1d1d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #313131 0%,#1e1d1d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313131', endColorstr='#1e1d1d',GradientType=0 ); /* IE6-8 */
}

.head-module {
    position:relative;
	z-index:1;
}

.head-module .left {
    position:absolute;
    left:0;
	top:0;
	z-index:1;
}

.head-module .center {
	width:450px;
	height:48px;
	line-height:48px;
    position:absolute;
    left:446px;
	top:0;
	z-index:0;
}

.head-module .right {
    position:absolute;
    right:0;
	top:0;
	z-index:0;
}

.hd-logo {
    position:relative;
	z-index:21;
}

.hd-logo .statNav-cont {
    position:absolute;
	left:240px;
	top:40px;
	z-index:2;
	width:664px;
	background:url(../images/head_img/statNav_cont_bg.png);
	border-top:2px solid #bb1a32;
}

.hd-logo .statNav-cont ul {
    width:94px;
	float:left;
	border-right:1px solid #8e8e8e;
}

.hd-logo .statNav-cont ul:last-child{
	border-right:0;
}

.hd-logo .statNav-cont ul li {
	text-align:center;
	height:29px;
	line-height:29px;
}

.hd-logo .statNav-cont ul li a {
    font-size:14px;
	color:#fff;
}

.hd-logo .statNav-cont ul li a:hover {
    color:#bb1a32;
}

.hd-logo span {
	display:block;
	padding-top:8px;
	color:#fff;
	font-family:"Microsoft YaHei" !important;
	font-size:14px;
	margin-left:8px;
	cursor:pointer;
}

.hd-logo .statNav-cont .lt {
    border-bottom:1px solid #8e8e8e;
}

.hd-logo span a.mb {
    vertical-align:middle;
	display:inline-block; *display:inline; *zoom:1;
	font-family:"Microsoft YaHei" !important;
	font-size:14px;
	padding-right:18px;
}

.hd-shar .shar-ct {
    display:block;
	padding-top:14px;
}

.hd-shar .shar-ct span {
    margin-right:8px;
}

.hd-shar .shar-ct span:hover {
    
}

.hd-tips span {
    padding:0px 8px;
}

.hd-tips span a {
    color:#fff;
}

.btn-hd-click {
    position:relative;
	z-index:0;
}

.btn-hd-click .cont {
    position:absolute;
    left:0;
	top:22px;
	z-index:2;
	width:100px;
	height:100px;
	background:#fff;
}

.btn-hd-click .cont em {
	position:absolute;
	top:-7px;
	left:6px;
	z-index:1;
    width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 5px 7px 5px;
	border-color: transparent transparent #ffffff transparent;

}

.btn-hd-click .cont p img {
    display:block;
	padding:2px;
}

#btn-statNav {
    padding-bottom:6px;
}